$marker-color: #ff4e50;
$txt-main-white-color:#FFFFFF;
$txt-secondary-white-color:#F7F3F2;
$txt-third-white-color: #E3E3E3;
$txt-black-bold-color:#444444;
$txt-black-light-color:#666666;
$txt-secondary-color: #ff4e50;
$hero-hobby-1:#ff4e50;
$hero-hobby-2:#19d4ca;
$hero-hobby-3:#ffa710;
$hero-hobby-4:#667df3;
$form-text-color:#999999;