*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.block{
  margin: 0 auto;
  width: 800px;
  height: 350px;
  background-color: #ebeef1;
  border: 1px solid #dbdee1;
  &_text {
    
    height: 100%;
    width: 100%;
    line-height: 40px;
    padding: 1rem;
  }
  &_add{
    display: none;
    padding: 1rem;
  }
  &_table,&_list{
    display: none;
  }
  &_edit,&_style{
    padding: 1rem;
    display: none;
  }
  &_edit {
    flex-direction: column;
  }
}
.block__row{
  display: flex;
  margin: 0.9rem 0;
}
.block__row p{
  width: 15%;
}
.button__container_center{
  display: flex;
  justify-content: center;
  padding: 0.4rem 0;
}
.button__container_start{
  display: flex;
  padding: 0.5rem 0;
}
.button_def{
  margin-right: 0.4rem;
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  outline: none;
  border:none;
  
}
.area_edit{
  padding: 1rem;
}
.button{
&_edit{
  color: black;
  background-color: #ffbd02;
}
&_style{
  background-color: #0b96bb;
}
&_add{
  background-color: #e94644;
}
&_result {
  background-color: #1d9744;
}
&_color {
  background-color: #62696f;
}

}
.checkers_margin{
  margin-left: 20px;
  margin-right: 5px;
}
.select-font{
  padding: 0.2rem 0.3rem;
  color:#343940;
  width: 380px;
}
.choose-color {
  
  display: none;
  flex-direction: column;
  margin-left: 130px;
  margin-top: 20px;
  height: 80%;
  width: 200px;
}
.choose_row {
  display: flex;
  height: 33.3%;
}
.block-choose{
  width: 33.3%;
  height: 100%;
  border:1px black solid;
  
  &_red{
    background-color: #e94644;
  }
  &_blue {
    background-color: #0078ff;
    
  }
  &_green {
    background-color: #209643;
  }
  &_black {
    background-color: #32393f;
  }
  &_orange {
    background-color: #f9b900;
  }
  &_pink {
    background-color: #f2538a;
  }
  &_white {
    background-color: #e5e5e5;
  }
  &_purple {
    background-color: #6445af;
  }
  &_aqua {
    background-color: #0a84a5;
  }
}
.form-text{
  padding: 0.2rem 0.5rem;
  width: 80%;
  border-radius:5px;
  border:none;
  &_small{
    width: 10%;
    margin: 0 2rem;
  }
}